# ISE build artifacts
build/xst/
build/_ngo/
build/_xmsgs/
build/xlnx_auto_0_xdb/
build/*.ngc
build/*.ngd
build/*.ncd
build/*.pcf
build/*.bit
build/*.bgn
build/*.bld
build/*.drc
build/*.map
build/*.mrp
build/*.ngm
build/*.syr
build/*.par
build/*.pad
build/*.xpi
build/*.unroutes
build/*.twx
build/*.xwbt
build/*.lst
build/*.srp
build/*.lso
build/*.ngr
build/*.ptwx
build/*.xrpt
build/*_pad.csv
build/*_pad.txt
build/*_summary.xml
build/*_usage.xml
build/usage_statistics_webtalk.html
build/webtalk.log

# iMPACT logs
_impactbatch.log

# Xilinx license
*.lic

# Python
__pycache__/
*.pyc
.venv/

# Windows Zone.Identifier files
*:Zone.Identifier

# Copyrighted reference materials (not for distribution)
tr-808-manual.txt
tr-808-panel.PNG
service-manual.txt
gemini-voices-desc.txt
swing-type-vca.PNG
t-network.PNG
handclap.PNG
voices1.PNG
voices2.PNG
